<app-header></app-header>
<div class="pk">
    <h3>PHỤ KIỆN</h3>
    <div class="pkien">
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/1xtjkx02nhla7wwuaj_0-item_pic_master_7dade2758b0e49ab9733e7c4a85ebf98_large.jpeg" alt="">
            <h4>BỘ PHỤ KIỆN SUPER ALL FOR YOU-PHỤ KIỆN BẢO VỆ NIKE.</h4>
            <p>Super All For You là bộ sản phẩm chăm sóc giày toàn diện vào bảo vệ giày toàn diện</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/a9_e9cd1449981a4798b257811ce8054ce2_large.png" alt="">
            <h4>DÂY GIÀY ĐÀN HỒI THÔNG MINH PHIÊN BẢN LIMITED.</h4>
            <p>Dây giày đàn hồi phiên bản limited được làm từ vật liệu cao cấp.</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/hilaces_c95bbd671bc246938286f437a85c8cf0_large.gif" alt="">
            <h4>DÂY GIÀY CAO SU ĐÀN HỒI THÔNG MINH HILACES.</h4>
            <p>Dây giày cao su đàn hồi Hilaces sử dụng vật liệu thông minh với độ bền tuyệt đỉnh .</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/coolnice_cef7ff29279c48c2ad6747be82a7777a_large.gif" alt="">
            <h4>DÂY GIÀY ĐÀN HỒI COOLNICE CHÍNH HÃNG</h4>
            <p>Dây giày đàn hồi coolnice với 2 phiên bản thể thao và lịch lãm.</p>
        </div>
        
    </div>
    <div class="pkien">
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/27_f738df36e8b64d23934deb06f01d38c7_large.png" alt="">
            <h4>DÂY GIÀY ĐÀN HỒI QUICK SHOE LACE</h4>
            <p>Dây giày đàn hồi Quick shoe lace - cơn sốt của giới trẻ.</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/binh_xit_sneaker_991678d709f24031885f55f3fe101655_large.gif" alt="">
            <h4>CHAI XỊT CHĂM SÓC GIÀY- VỆ SINH SẠCH CHỐNG THẤM </h4>
            <p>Bộ 3 chai xịt chăm sóc giày với 3 chế độ hiệu quả</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/steprain_54b283c0e261407294388a2a80ed1e50_large.png" alt="">
            <h4>ÁO MƯA CHO GIÀY -BẢO VỆ GIÀY NIKE NHỮNG NGÀY MƯA</h4>
            <p>Bảo vệ giày cưng những ngày mưa với áo mưa giày phiên bản mới .</p>
        </div>
        <div class="pk1">
            <img src="https://product.hstatic.net/1000069970/product/supbro_21ec08b605e246f7b79f47a28ece9630_large.gif" alt="">
            <h4>SUP PRO CHAI XỊT CHỐNG THẤM CHO GIÀY .</h4>
            <p>Sup pro là bình xịt và chai xịt tích hợp công nghệ nano chông thấm hiệu quả.</p>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
