<app-header></app-header>
<div class="banner">

    <div class="carousel" data-ride="carousel" data-interval="1000">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://wallpaperaccess.com/full/2913015.jpg">
                    <div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                          </div>
                    </div>
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://swall.teahub.io/photos/small/164-1643977_nike-wallpaper-hd-1080p-.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://ss-images.saostar.vn/2017/08/22/1508871/ava-giay.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="home">
    <div class="h1">
        <img src="https://cdn-icons-png.flaticon.com/128/686/686308.png" alt="">
        <p>Hàng chính hãng, chất lượng hàng đầu.</p>
    </div>
    <div class="h2">
        <img src="https://cdn-icons-png.flaticon.com/128/71/71222.png" alt="">
        <p>Miễn phí giao hàng.</p>
    </div>
    <div class="h3">
        <img src="https://cdn-icons-png.flaticon.com/128/4032/4032726.png" alt="">
        <p>Đổi hàng 30 ngày thủ tục đơn giản .</p>
    </div>
    <div class="h3">
        <img src="https://cdn-icons-png.flaticon.com/128/2222/2222421.png" alt="">
        <p>Thanh toán nhanh chóng và dễ dàng</p>
    </div>
</div>
<div class="sp">
    <h3>SẢN PHẨM NỔI BẬT</h3>
    <div class="sanpham">
        <div class="s1">
            <img src="https://product.hstatic.net/200000174405/product/cw4555-109-2_4a64f7c229c44d4d851a1e49e2bd0ae3_master.jpg"
                alt="">
            <p>Giầy running NIKE DOWNSHIFTER 12 nam DD9293-100</p>
        </div>
        <div class="s1">
            <img src="https://product.hstatic.net/200000174405/product/dc8992-003-2_bbe6bb9448d3466aaccae62c66db39ed_master.jpg"
                alt="">
            <p>Giầy running NIKE REVOLUTION 6 FLYEASE nam DC8992-003
            </p>
        </div>
        <div class="s1">
            <img src="https://product.hstatic.net/200000174405/product/dh3162-101-2_9202bf3dcd0b4c6baa1b8e94fc1eacef_master.jpg"
                alt="">
            <p>Giầy sportswear NIKE COURT LEGACY NN nam DH3162-101</p>
        </div>
    </div>

</div>
<div class="nn">
    <h3 class="n">SẢN PHẨM</h3>
    <div class="namnu">
        <div class="nam d-flex align-items-center justify-content-center">
            <a href="" routerLink="/nam">NAM</a>

        </div>
        <div class="nu d-flex align-items-center justify-content-center">
            <a href="" routerLink="/nu">NỮ</a>

        </div>
        <div class="phu d-flex align-items-center justify-content-center">
            <a href="" routerLink="/pk">PHỤ KIỆN</a>
        </div>
    </div>
</div>



<div class="khach">
    <h3>KHÁCH HÀNG NÓI GÌ VỀ TSUMETAKU SHOP</h3>
    <div class="khach1">
        <div class="k1">
            <img src="https://img.cdn.vncdn.io/nvn/ncdn/store/26/artCT/56737/khach_hang_muc_tieu_khach_hang_tiem_nang_va_nhung_cach_de_toi_uu_hoa_hieu_qua_kinh_doanh2.jpg"
                alt="">
            <p>Tôi đã mua cho cả 2 vợ chồng giày của TSUMEATKU SHOP và thật sự nó vô cùng chất lượng. Hàng đảm bảo chính
                hãng 100% và chính sách bảo hành rất yên tâm ạ. Cảm ơn TSUMETAKU SHOP!</p>
    
        </div>
        <div class="k1">
            <img src="https://img.cdn.vncdn.io/nvn/ncdn/store/26/artCT/56737/khach_hang_muc_tieu_khach_hang_tiem_nang_va_nhung_cach_de_toi_uu_hoa_hieu_qua_kinh_doanh2.jpg"
                alt="">
            <p>TSUMETAKU SHOP bán hàng chính hãng, giá rất ok, tôi đã mua một đôi giày chạy bộ của Nike đi rất êm và thích.
            </p>
    
        </div>
        <div class="k1">
            <img src="https://img.cdn.vncdn.io/nvn/ncdn/store/26/artCT/56737/khach_hang_muc_tieu_khach_hang_tiem_nang_va_nhung_cach_de_toi_uu_hoa_hieu_qua_kinh_doanh2.jpg"
                alt="">
            <p>Tìm một đôi giày ưng ý không hề dễ dàng, nhưng từ khi biết đến TSUMETAKU SHOP thì hoàn toàn tin tưởng, nhiều
                mẫu đẹp và đã chọn được một em Nike ưng ý!</p>
        </div>
        <div class="k1">
            <img src="https://img.cdn.vncdn.io/nvn/ncdn/store/26/artCT/56737/khach_hang_muc_tieu_khach_hang_tiem_nang_va_nhung_cach_de_toi_uu_hoa_hieu_qua_kinh_doanh2.jpg"
                alt="">
            <p>Thương hiệu tạo nên chất lượng , TSUMETAKU SHOP chưa bao giờ làm khách hàng thất vọng .</p>
        </div>
        <div class="k1">
            <img src="https://img.cdn.vncdn.io/nvn/ncdn/store/26/artCT/56737/khach_hang_muc_tieu_khach_hang_tiem_nang_va_nhung_cach_de_toi_uu_hoa_hieu_qua_kinh_doanh2.jpg"
                alt="">
            <p>Chúng tôi đã chọn được một shop bán giày uy tín và chất lượng . TSUMETAKU SHOP sự lựa chọn hoàn hảo .</p>
        </div>
    </div>
   
</div>
<div class="container-fluid p-3">
    <div class="row justify-content-around">
        <div class="col-lg-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-css"
                            src="https://hanaichi.vn/blog/wp-content/uploads/2020/06/nike-900x550.png"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-css"
                            src="https://myshoes.vn/image/cache/catalog/2022/banner/cata/giay-nike-chinh-hang-600x315h.png"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-css"
                            src="https://fastsole.co.uk/wp-content/uploads/2018/06/Exclusive-Up-To-40-OFF-NIKE-END-Of-Season-Sale-Is-Already-Live.jpg"
                            alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="">SIÊU SALE THÁNG 10</h1>
            <h4 class="text-dark font-weight-lighter">Giày đẹp giảm giá – Tội gì ko mua :))
                SALE UPTO 30%- 40% TẠI THÁNG 10 ! 😍 <br>
                👉🏻Đừng ngần ngại inbox để được tư vấn thêm về size và có thêm thông tin về sản phẩm nha, team online của Tsumeatku shop luôn sẵn sàng hỗ trợ mọi người ạ 🥰<br>
                💌Đặt hàng online click ngay : m.me/Shop-Tsumetaku-NIKE <br>
                💌ĐẶT HÀNG MIỄN PHÍ SHOPEE: shopee.vn/tsumetaku shop. <br>
                💌Ship COD Toàn Quốc #35k <br>
                ‼️BÁN BUÔN CHIẾT KHẤU CAO – NHẬN CTV TOÀN QUỐC </h4>
        </div>
    </div>
</div>
<app-footer></app-footer>