  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class=" r1 col-sm-12 col-md-6">
          <!-- <h6>About</h6> -->
          <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/306608182_848313132996274_4205754133481674796_n.png?_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UIqd3GT6bYgAX-LRx2e&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJfhLg7i4RdYZdqRsYuSaeDJ9OQmHNPbiAkKnpkZ9qaqQ&oe=636C2804" alt="">
          <p>Mang phong cách và chất lượng vươn xa ! Chúng tôi luôn cố gắng để đưa đến tay người tiêu dùng
            những sản phẩm chất lượng nhất . Mang tinh túy của toàn nhân loại
            và đó là NIKE. <br>
            TSUMETAKU SHOP nhịp sống mới của nhân loại !
          </p>
       </div>

        <div class="col-xs-6 col-md-3">
          <h6>Chăm sóc</h6>
          <ul class="footer-links">
           <p>9:00-22:00</p>
           <p>238 Hoàng Quốc Việt , Cổ Nhuế ,Cầu Giấy , Hà Nội</p>
           <p>Nhân viên : Trần Tú Anh</p>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Truy cập</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/" routerLink="/about">Giới thiệu</a></li>
            <li><a href="http://scanfcode.com/contact/" routerLink="/new">Tin tức</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/" routerLink="/shop">Cửa hàng</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/"  routerLink="/products">Sản phẩm</a></li>
            <li><a href="http://scanfcode.com/sitemap/" routerLink="/contact">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <p class="copyright-text">Thương hiệu độc quyền của nhà Tsumetaku shop . by
       <a href="#">TTA</a>.
          </p>
        </div>

        <div class="a">
          <img src="https://cdn-icons-png.flaticon.com/128/3670/3670124.png" alt="">
          <img src="https://cdn-icons-png.flaticon.com/128/185/185983.png" alt="">
          <img src="https://cdn-icons-png.flaticon.com/128/3670/3670127.png" alt="">
          <img src="https://cdn-icons-png.flaticon.com/128/3670/3670132.png" alt="">
        </div>
      </div>
    </div>
</footer>