<app-header></app-header>
<div class="content">
    <h1 class="text">VỀ CHÚNG TÔI</h1>
</div>
<div class="about">
    <h3 class="ab1">TRỤ SỞ CHÍNH</h3>
    <p>Trụ sở chính trên thế giới của Nike được bao quanh bởi thành phố Beaverton nhưng nằm trong Quận Washington
        chưa hợp nhất . Thành phố đã cố gắng cưỡng chế sát nhập trụ sở của Nike, dẫn đến vụ kiện của Nike và vận
        động hành lang của công ty cuối cùng đã kết thúc trong Dự luật 887 của Thượng viện Oregon năm 2005. Theo các
        điều khoản của dự luật đó, Beaverton đặc biệt bị cấm sáp nhập vùng đất mà Nike và Columbia Sportswear chiếm
        giữ ở Quận Washington trong 35 năm, trong khi Electro Scientific Industries và Tektronix nhận được sự bảo vệ
        tương tự trong 30 năm. Nike đang có kế hoạch xây dựng một khu đất rộng 3,2 triệu foot vuông cho Trụ sở Thế
        giới của mình ở Beaverton.Thiết kế sẽ hướng tới chứng nhận LEED Platinum và sẽ được làm nổi bật bởi ánh sáng
        ban ngày tự nhiên và một trung tâm xử lý nước màu xám.</p>
</div>
<div class="a">
    <div class="a1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Blue_ribbon_sports_logo.png/206px-Blue_ribbon_sports_logo.png"
            alt="">
        <p class="text1">1964-1971</p>
    </div>
    <div class="a2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Nike_swoosh_logo71.png/225px-Nike_swoosh_logo71.png"
            alt="">
        <p class="text1">1971-1978</p>
    </div>
    <div class="a4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Old_Nike_logo.jpg/225px-Old_Nike_logo.jpg"
            alt="">
        <p class="text1">1978-1995</p>
    </div>
    <div class="a3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/225px-Logo_NIKE.svg.png"
            alt="">
        <p class="text1">1995-Nay</p>
    </div>
</div>
<div class="about2">
    <h3 class="ab">TÀI TRỢ</h3>
    <p>Nike tài trợ cho các vận động viên hàng đầu trong nhiều môn thể thao sử dụng sản phẩm của họ và quảng bá,
        quảng cáo công nghệ và thiết kế của họ. Người xác nhận vận động viên chuyên nghiệp đầu tiên của Nike là vận
        động viên quần vợt người Romania Ilie Năstase. Người xác nhận đường đua đầu tiên là vận động viên chạy cự ly
        Steve Prefontaine. Prefontaine là học trò được đánh giá cao của người đồng sáng lập công ty, Bill Bowerman,
        khi ông làm huấn luyện viên tại Đại học Oregon. Ngày nay, Tòa nhà Steve Prefontaine được đặt tên để vinh
        danh ông tại trụ sở công ty của Nike. Nike chỉ làm một bức tượng về các vận động viên được tài trợ của mình
        và đó là tượng của Steve Prefontaine</p>
</div>
<div class="about3">
    <h3 class="ab1">VỀ CHÚNG TÔI</h3>
    <div class="member">
        <div class="m1">
            <img src="https://wikici.com/Upload/chu-ky/chu-ky-ten-tu-anh-rhesmanisa-otf.jpeg" alt="">
            <p class="t1">Designer</p>
        </div>
        <div class="m2">
            <img src="https://tenhay.vn/wp-content/uploads/2022/06/Mau-Chu-Ky-Ten-Hung-doc-dao.png" alt="">
            <p class="t1">Counselor</p>
        </div>
        <div class="m3">
            <img src="https://nuchinh.com/wp-content/uploads/2022/06/sophancuathinh16.jpg" alt="">
            <p class="t1">Support</p>
        </div>
      
    </div>
    <div class="m2">
        <h4 class="mm1">Chất lượng của sản phẩm tạo nên uy tín của thương hiệu</h4>
        <h5 class="mm2">Team8 - BKAP. Thành viên của sự nhiệt huyết !</h5>
    </div>
        
</div>
<div class="about4">
    <h3 class="ab3"> VỀ CỬA HÀNG</h3>
    <div class="member2">
        <div class="m5">
            <img src="https://khogiaythethao.vn/wp-content/uploads/2020/07/top-cac-dia-chi-ban-dep-Nike-tot-nhat-ha-noi-min.jpg" alt="">
            <p class="t2">Hà Nội</p>
        </div>
        <div class="m5">
            <img src="https://file.hstatic.net/1000282067/article/nike-store_1c4960302fda40ea9de24609ad5ba6d6.jpeg" alt="">
            <p class="t2">Tp Hồ Chí Minh</p>
        </div>
        <div class="m5">
            <img src="https://baomypham.com/wp-content/uploads/2022/08/nike-hcm-1.jpeg" alt="">
            <p class="t2">Đà Nẵng</p>
        </div>
        <div class="m5">
            <img src="https://static.nike.com/a/images/f_auto/3bbd47d3-555d-4110-9ca0-0b6f6866aed7/image.jpeg" alt="">
            <p class="t2">Cà Mau</p>
        </div>
        <div class="m5">
            <img src="https://static.nike.com/a/images/f_auto/fa253650-9040-44ac-91e9-7b7175f1cc3f/image.jpeg" alt="">
            <p class="t2">Nha Trang</p>
        </div>
        <div class="m5">
            <img src="https://giaydabongtot.com/wp-content/uploads/2020/07/Dia-chi-cua-hang-nike-chinh-hang-ha-noi-sai-gon-tp-hcm-3.jpg" alt="">
            <p class="t2">Cần Thơ</p>
        </div>
        
      
    </div>
    <div class="m3m">
        <h4 class="mm1">TSUMETAKU SHOP NIKE</h4>
        <h5 class="mm">Thương hiệu độc quyền .</h5>
      </div>
    
        
</div>
<app-footer></app-footer>
