<app-header></app-header>
<div class="women">
    <img src="https://file.hstatic.net/200000174405/collection/1920x450-giaynu_98d81ac12a9840889c3a0fc0dfad8639.jpg"
        alt="">
</div>
<div class="wm">
    <h3>GIÀY NIKE NỮ</h3>
    <div class="main_content container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-3 py-3" *ngFor="let item of list">
                <div class="card curr" routerLink="/detail/{{item.id}}">
                    <img class="card-img-top" src="{{item.img}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{item.name}}</h4>
                        <p class="card-text">{{item.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>