

<div class="to">
    <div class="dn">
        <a href="" routerLink="/">TRANG CHỦ/</a>
        <p>ĐĂNG KÍ</p>
    </div>
    <div class="form">
        <h2>Đăng ký </h2>
        <i class="fab fa-app-store-ios"></i>
        <label style="margin-left: -150px;">Họ và tên</label>
        <input type="text" name="hoten">
        <label>Số điện thoại</label>
        <input type="text" name="sdt">    
        <label style="margin-left: -180px;">Email</label>
        <input type="text" name="email"> 
        <input id="submit" type="submit" name="submit" value="Gửi" routerLink="/contact">
    </div>                
</div>