<!-- <body class="hero-anime sticky-top ">  -->

<div class="navigation-wrap bg-black start-header start-style sticky-top ">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light d-flex justify-content-between">

          <div><img class="tta"
              src="https://scontent.xx.fbcdn.net/v/t1.15752-9/306608182_848313132996274_4205754133481674796_n.png?_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UIqd3GT6bYgAX-LRx2e&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJfhLg7i4RdYZdqRsYuSaeDJ9OQmHNPbiAkKnpkZ9qaqQ&oe=636C2804"
              alt=""></div>

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->

          <div class="collapse navbar-collapse fz-17" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/">TRANG CHỦ</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/about">GIỚI THIỆU</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/shop">CỬA HÀNG</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false" routerLink="/products">SẢN PHẨM</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" routerLink="/products">TẤT CẢ SẢN PHẨM</a>
                  <a class="dropdown-item" href="#" routerLink="/nam">SẢN PHẨM NAM</a>
                  <a class="dropdown-item" href="#" routerLink="/nu">SẢN PHẨM NỮ</a>
                  <a class="dropdown-item" href="#" routerLink="/pk">PHỤ KIỆN</a>
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/dn">ĐĂNG NHẬP</a>
              </li>

              <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="" routerLink="/dk">ĐĂNG KÍ</a>
              </li> -->
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/contact">HỖ TRỢ</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</div>
<!-- <div class="section full-height">
    <div class="absolute-center">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
        <h1><span>B</span><span>o</span><span>o</span><span>t</span><span>s</span><span>t</span><span>r</span><span>a</span><span>p</span> <span>4</span><br>
        <span>m</span><span>e</span><span>n</span><span>u</span></h1>
        <p>scroll for nav animation</p> 
            </div>  
          </div>    
        </div>    
      </div>
      <div class="section mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="switch">
                <div id="circle"></div>
              </div>
            </div>  
          </div>    
        </div>      
      </div>
    </div>
  </div>
  <div class="my-5 py-5">
  </div> -->

<!-- Link to page
================================================== -->


<!-- </body> -->