
<app-header></app-header>
<div class="content">
    <h1 class="text">CHUỖI CỬA HÀNG</h1>
</div>
<div class="tp">
    <h4>Địa điểm</h4>
</div>
<label class="select-city-wrapper">
    <select name="select-city" class="select-city form-control">
        <option value="Hà Nội">Nike Vincom Bà Triệu-Hà Nội</option>
        <option value="TP Hồ Chí Minh">Nike Indochina Plaza-Hà Nội</option>
        <option value="Đà Nẵng">Nike Hàng Bông-Hà Nội</option>
        <option value="Hải Phòng">Nike Royal City-Hà Nội</option>
        <option value="Nha Trang">Nike Diamond Plaza-Tp Hồ Chí Minh</option>
        <option value="Đà Nẵng">Nike Parkson Cantavil-Tp Hồ Chí Minh </option>
        <option value="Đà Nẵng">Nike Factory Outlet Store-Tp Hồ Chí Minh</option>
        <option value="Đà Nẵng">Nike Vincom Hải Phòng </option>
        <option value="Đà Nẵng">Nike Aeon Mall Binh Duong </option>
        <option value="Đà Nẵng">Nike Parkson Đà Nẵng</option>
    </select>
</label>

<div class="map">
    <iframe class="m1"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d238351.9050488874!2d105.836964!3d21.022740000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf59d8f429%3A0x7830a3dfd6e566a1!2zSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2sus!4v1663779335856!5m2!1svi!2sus"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">
    <div class="shop row">
        <div class="col-lg-6">

            <div class="heading">
                <p class="h3">SHOP H-A-T NIKE</p>
            </div>

            <div class="calendar">
                <div class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="timer">
                    <p class="ss mb-0">Thời gian : 09:00 - 22:00 </p>
                </div>
            </div>

            <div class="calendar">
                <div class="icon">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="timer">
                    <p class="ss mb-0">Số đt: (+84) 339445975 </p>
                </div>
            </div>

            <div class="calendar">
                <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="timer">
                    <p class="ss mb-0"> Email : ttavtk892003@gmail.com </p>
                </div>
            </div>

            <div class="calendar">
                <div class="icon">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
                <div class="timer">
                  Thanh toán : Free Payment for all cards: Visa/Master/JCB...<p class="p-0 m-0"> - Momo - Transfer. </p>
                </div>
            </div>
            
            <!-- <div class="calendar">
                <img src="https://cdn-icons-png.flaticon.com/128/13/13936.png" alt="">
                <p class="ss"> (+84) 339445975</p>
            </div>
            <div class="calendar">
                <img src="https://cdn-icons-png.flaticon.com/128/520/520648.png" alt="">
                <p class="ss">ttavtk892003@gmail.com</p>
            </div>
            <div class="calendar">
                <img src="https://cdn-icons-png.flaticon.com/128/2420/2420279.png" alt="">
                <p class="ss">Free Payment for all cards: Visa/Master/JCB... <br>
                    - Momo - Transfer.</p>
            </div> -->
            <p class="sss">Support staff : Tsumetaku .</p>
        </div>
        <div class="col-lg-6">
            <img src="https://nikechinhhang.net/wp-content/uploads/2021/01/nike-vincom-ba-trieu.jpg"
                class="card-img" alt="">
        </div>

    </div>
</div> <br>
 <app-footer></app-footer>
 

